# Practical_3: Iterable objects or Containers

---

### Exercise 1:
Create a list of integers from 1 to 10.

In [12]:
list_integer = [i for i in range(1,11)]
print(list_integer)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

---

### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

```python
# Exercise 2
```

In [14]:
fruits = ("apple", "banana","cherry")
fruits

('apple', 'banana', 'cherry')

---

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

```python
# Exercise 3
```

---

In [15]:
numbers = [10, 20, 30, 40]
tuple(numbers)

(10, 20, 30, 40)

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

```python
# Exercise 4
```

---

In [16]:
set_containt = {1,2,3,4,5}
set_containt

{1, 2, 3, 4, 5}

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

```python
# Exercise 5
```

---

In [18]:
student = {"name":'Alice',"age":20,"grade":"A"}
student

{'name': 'Alice', 'age': 20, 'grade': 'A'}

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

```python
# Exercise 6
```

---

In [19]:
second_element = [10, 20, 30, 40, 50]
second_element[1]

20

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

```python
# Exercise 7
```

---

In [22]:
fruits = ["apple", "banana", "cherry", "orange"]
fruits[2] = "mango"
fruits

['apple', 'banana', 'mango', 'orange']

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 8
```

---

In [26]:
numbers = {1, 2, 3, 4, 5}
numbers.add(6)
numbers

{1, 2, 3, 4, 5, 6}

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

```python
# Exercise 9
```

---

In [29]:
person = {"name": "John", "age": 25, "city": "New York"}
del person['age'] 
person

{'name': 'John', 'city': 'New York'}

### Exercise 10:
Create a range object starting from 0 to 9.

```python
# Exercise 10
```

---

In [5]:
x = list(range(0, 10))
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

```python
# Exercise 11
```

---

In [2]:
squares = [i*i for i in range(1,11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

```python
# Exercise 12
```

---

In [5]:
evens_numbers = tuple(i for i in range(2,11,2))
evens_numbers

(2, 4, 6, 8, 10)

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

```python
# Exercise 13
```

---

In [10]:
iterate_liste_fruits =["apple", "banana", "cherry"]
for i in  iterate_liste_fruits:
    print(i)

apple
banana
cherry

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 14
```

---

In [12]:
3 in {1, 2, 3, 4, 5}

True

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

```python
# Exercise 15
```

---

In [48]:
length_numbers = (10, 20, 30)
len(length_numbers)

3

### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

```python
# Exercise 16
```

---

In [51]:
scores = [80, 85, 90, 95]
scores.append(100)
scores

[80, 85, 90, 95, 100]

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

```python
# Exercise 17
```

---

In [54]:
def sum_of_elements(input_list):
    return sum(input_list)

In [55]:
result_list = [1, 2, 3, 4, 5]
result = sum_of_elements(result_list)
print("The sum of elemments is:", result)

The sum of elemments is: 15

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 18
```




---

In [64]:
numbers = [1, 3, 3,2,2, 3, 4, 4, 5]

print(set(numbers))

{1, 2, 3, 4, 5}

### Exercise 19:
Convert the string `"hello"` into a list of characters.

```python
# Exercise 19
```

---

In [13]:
print(list("hello"))

['h', 'e', 'l', 'l', 'o']

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

```python
# Exercise 20
```

---

In [80]:
def reverse_function(tuples):
    return tuples[::-1]

In [81]:
res = reverse_function((1, 2, 3, 4))
res

(4, 3, 2, 1)

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

```python
# Exercise 21
```

---

In [95]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
dict1.update(dict2)
dict1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

In [21]:
squares = {x:x**2 for x in range(1,6)}
squares

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

```python
# Exercise 23
```

---

In [25]:
dicts = {"nom":"Tsemo","Prenom":"danielle","age":25}
for key, value in dicts.items():
    print(f'({key},{value})')

(nom,Tsemo)
(Prenom,danielle)
(age,25)

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

```python
# Exercise 24
```

---

In [32]:
help(chr)

Help on built-in function chr in module builtins:

chr(i, /)
    Return a Unicode string of one character with ordinal i; 0 <= i <= 0x10ffff.

In [38]:
for i in range(65,71):
    print(chr(i))

A
B
C
D
E
F

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

```python
# Exercise 25
```

---

In [55]:
help(zip)

Help on class zip in module builtins:

class zip(object)
 |  zip(*iterables) --> A zip object yielding tuples until an input is exhausted.
 |
 |     >>> list(zip('abcdefg', range(3), range(4)))
 |     [('a', 0, 0), ('b', 1, 1), ('c', 2, 2)]
 |
 |  The zip object yields n-length tuples, where n is the number of iterables
 |  passed as positional arguments to zip().  The i-th element in every tuple
 |  comes from the i-th iterable argument to zip().  This continues until the
 |  shortest argument is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [54]:
listes1 = [1, 2, 3]
listes2 = ["a", "b", "c"]
tuple(listes1)
tuple(listes2)
list(zip(listes1,listes2))

[(1, 'a'), (2, 'b'), (3, 'c')]

##### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

```python
# Exercise 26
```

---

In [58]:
find_index = [10, 20, 30, 40, 50]
find_index.index(50)

4

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

```python
# Exercise 27
```

---

In [98]:
names = ["Alice", "dob", "Charlie", "David"]
names.sort()
names

['Alice', 'Charlie', 'David', 'dob']

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

```python
# Exercise 28
```

---

In [111]:
def integer(listes):

    
    return sorted(listes)[0]


n = [2,4,9,6,7]
integer(n)

2

###### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

```python
# Exercise 29
```

---

In [69]:
fruits = ["apple", "banana", "apple", "orange"]
fruits.count("apple")

2

### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

```python
# Exercise 30
```

---

In [70]:
person  = {"name":"Alice","age":25,"city":"New York"}
person["city"]

'New York'

### Exercise 31:
Write a Python function that takes a list as input and returns a new list with all duplicates removed.

```python
# Exercise 31
```

---

In [72]:
def duplicates(listes):
    return list(set(listes))


listes =[4,6,7,6,5,5,8,9,10]
duplicates(listes)

[4, 5, 6, 7, 8, 9, 10]

### Exercise 32:
Write a Python function that takes two lists and returns their intersection.

```python
# Exercise 32
```

---

In [87]:
def intersection(a,b):
    return list(set(a)&set(b))
a =[4, 5, 6, 7, 8, 9, 10]
b = [2,4,9,6,7]
intersection( a ,b)

[9, 4, 6, 7]

### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

```python
# Exercise 33
```

---

In [83]:
 {x : x**2 for x in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

### Exercise 34:
Write a Python function that takes a dictionary as input and returns the sum of all its values.

```python
# Exercise 34
```

---

In [101]:
def sum_values(d):
    return sum(d.values())
dicts = {"name":24,"age":25,"city":38}
sum_values(dicts)

87

In [100]:
#another methode
s = 0
dicts = {"name":24,"age":25,"city":38}
for  key, value in dicts.items():
    s += dicts[key]
print(s)

87

### Exercise 35:
Use the `sorted()` function to sort the list `[3, 1, 4, 1, 5, 9]` in ascending order.

```python
# Exercise 35
```

---

In [102]:
sorted([3,1,4,1,5,9])

[1, 1, 3, 4, 5, 9]

### Exercise 36:
Write a Python function that takes a list of strings as input and returns the longest string.

```python
# Exercise 36
```

---

In [133]:
def  longest_string(listes):
    longest = ""
    for word in listes:
        if len(word) > len(longest):
            longest = word
    return longest
        
    
listes = ["pomme","banane","avocat","cerise", "pamplemousse"]
print(longest_string(listes))

pamplemousse

### Exercise 37:

Check if all the elements in the list `[1, 2, 3, 4, 5]` are greater than 0 using the `all()` function.

```python
# Exercise 37
```

---

In [134]:
listes = [1, 2, 3, 4, 5]
all(i>0 for i in listes)

True

### Exercise 38:
Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

```python
# Exercise 38

---

In [146]:
tuple_numbers = [(x,x**2) for x in range(1,6)]
tuple_numbers

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

### Exercise 39:
Write a Python function that takes a list of tuples and returns a list of the second elements from each tuple.

```python
# Exercise 39
```

---

In [173]:

def second_element(liste):
    new_list = []
    for i in range (len(liste)):
        new_list.append(liste[i][1])
    return new_list


tuple_numbers = [(x,x**2) for x in range(1,6)]
second_element(tuple_numbers)

[1, 4, 9, 16, 25]

### Exercise 40:
Write a Python function that flattens a list of lists into a single list.

```python
# Exercise 40
```

---

In [205]:
def flatten(listes):
    
    return (listes[0][::1])

listes1 = [[1, 4, 9, 16, 25]]
flatten(listes1)

[1, 4, 9, 16, 25]

### Exercise 41:
Use the `enumerate()` function to iterate through the list `["apple", "banana", "cherry"]` and print the index and value.

```python
# Exercise 41
```

---

In [212]:
fruits = ["apple", "banana", "cherry"]
for index, value in enumerate(fruits):
    print(index,value)

0 apple
1 banana
2 cherry

### Exercise 42:
Write a Python program that checks if a tuple is empty.

```python
# Exercise 42
```

---

In [216]:
def is_empty_tuple(t):
    return len(t)== 0

t =(2,3,4)
is_empty_tuple(t)

False

### Exercise 43:
Create a list of even numbers between 1 and 20 using the `range()` function.

```python
# Exercise 43
```

---

In [1]:
evens = list(range(2,21,2))
evens

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Exercise 44:
Write a Python function that takes a list of numbers as input and returns the list in reverse order.

```python
# Exercise 44
```

---

In [94]:
def reverse_list(lst):
    return lst[::-1]

lists = [1,2,3,4,4,5]
reverse_list(lists)

[5, 4, 4, 3, 2, 1]

### Exercise 45:
Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.

```python
# Exercise 45
```

---

In [89]:
{i:i**3 for i in range(1,6)}

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

### Exercise 46:
Write a Python program that creates a new list containing only the unique elements of the list `[1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 46
```

---

In [5]:
original_list = [1, 2, 2, 3, 4, 4, 5]

unique_list = list(set(original_list))
unique_list

[1, 2, 3, 4, 5]

### Exercise 47:
Write a Python function that takes a list of dictionaries and returns a list of the values for a given key.

```python
# Exercise 47
```

---

In [7]:
def get_values_by_key(list_of_dicts, key):
    return [dictio[key] for dictio in list_of_dicts if key in dictio]


personnes = [
    {"nom": "danielle", "âge": 25},
    {"nom": "billy ", "âge": 30},
    {"nom": "kam", "âge": 22}
]

noms = get_values_by_key(personnes, "nom")
print(noms)

['danielle', 'billy ', 'kam']

### Exercise 48:
Write a Python function that uses a generator to yield the Fibonacci sequence up to `n` terms.

```python
# Exercise 48
```

---

In [9]:
def fibonacci(n):
    suite = []

    for i in range(n):
        if i == 0:
            suite.append(0)
        elif i == 1:
            suite.append(1)
        else:
            suite.append(suite[i - 1] + suite[i - 2])

    return suite


print(fibonacci(6))

[0, 1, 1, 2, 3, 5]

### Exercise 49:
Write a Python function that takes a string and returns a list of all unique characters in the string.

```python
# Exercise 49
```

In [11]:
def unique_chars(s):
    return list(set(s))

listes = [0, 1, 1, 2, 3, 5]
unique_chars(listes)

[0, 1, 2, 3, 5]

### Exercise 50:
Write a Python function that merges two sorted lists into a single sorted list.

```python
# Exercise 50
```

In [13]:
def fusion(liste1, liste2):
    nouvelle_liste = liste1 + liste2


    nouvelle_liste.sort()
    return nouvelle_liste

a = [1, 3, 5]
b = [2, 4, 6]

resultat = fusion(a, b)
print(resultat)

[1, 2, 3, 4, 5, 6]

### Exercise 51:
Use the

 `filter()` function to filter out odd numbers from the list `[1, 2, 3, 4, 5, 6]`.

```python
# Exercise 51
```

In [14]:
list(filter(lambda x: x%2==0,[1,2,3,4,5,6]))

[2, 4, 6]

### Exercise 52:
Write a Python program that converts a list of tuples `[(1, 2), (3, 4), (5, 6)]` into a dictionary.

```python
# Exercise 52
```

In [15]:
dict([(1,2),(3,4),(5,6)])

{1: 2, 3: 4, 5: 6}

### Exercise 53:
Write a Python function that takes two sets and returns their symmetric difference.

```python
# Exercise 53

```

In [16]:

def difference_symetrique(ensemble1, ensemble2):
    resultat = ensemble1 ^ ensemble2
    return resultat


set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(difference_symetrique(set1, set2))

{1, 2, 4, 5}

### Exercise 54:
Write a Python program that finds the common elements in three lists `list1`, `list2`, and `list3`.

```python
# Exercise 54
```

---

In [17]:

list1 = [1, 2, 3, 4]
list2 = [2, 3, 5, 6]
list3 = [0, 2, 3, 7]

communs = []

for element in list1:
    if element in list2 and element in list3:

        communs.append(element)

print("Éléments communs :", communs)

Éléments communs : [2, 3]

### Exercise 55:
Write a Python function that returns the factorial of a number using recursion.

```python
# Exercise 55
```

---

In [19]:
def factoriel(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factoriel(n - 1)

print(factoriel(5))

120

### Exercise 56:
Write a Python program that removes all empty strings from the list `["apple", "", "banana", "", "cherry"]`.

```python
# Exercise 56
```

---

In [20]:
ma_liste = ["apple", "", "banana", "", "cherry"]

liste_sans_vide = []
for mot in ma_liste:
    if mot != "":
        liste_sans_vide.append(mot)


print(liste_sans_vide)

['apple', 'banana', 'cherry']

### Exercise 57:
Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.

```python
# Exercise 57
```

---

In [22]:
def inverser(My_dict):
    nouveau = {}

    for key in My_dict:
        valeur = My_dict[key]

        nouveau[valeur] = key 

    return nouveau


d = {"chat": "petit", "chien": " noir ", "vache": "lait"}
resultat = inverser(d)
print(resultat)

{'petit': 'chat', ' noir ': 'chien', 'lait': 'vache'}

### Exercise 58:
Write a Python function that takes a list of integers and returns a new list with only the even numbers.

```python
# Exercise 58
```

---

In [23]:
def even_number(ma_liste):
    return [nombre for nombre in ma_liste if nombre % 2 == 0]


nombres = [1, 2, 3, 4, 5, 6]
resultat = even_number(nombres)
print(resultat)

[2, 4, 6]

### Exercise 59:
Write a Python function that takes a list of tuples and returns a list of the first elements of each tuple.

```python
# Exercise 59
```

---

In [24]:
def premiers_elements(liste_de_tuples):
    return [t[0] for t in liste_de_tuples]

donnees = [(10, 20), (30, 40), (50, 60)]
resultat = premiers_elements(donnees)
print(resultat)

[10, 30, 50]

### Exercise 60:
Write a Python program that removes duplicates from a list without changing the order of elements.

```python
# Exercise 60
```

---

In [25]:
def enlever_doublons(ma_liste):
    nouvelle_liste = []
    for element in ma_liste:
        if element not in nouvelle_liste:
            nouvelle_liste.append(element)
    return nouvelle_liste

liste = [1, 2, 2, 3, 1, 4, 3]
resultat = enlever_doublons(liste)
print(resultat)

[1, 2, 3, 4]

### Exercise 61:
Use the `map()` function to convert a list of strings to a list of their lengths.

```python
# Exercise 61
```

---

In [26]:
mots = ["chat", "chien", "souris"]

longueurs = list(map(len, mots))

print(longueurs)

[4, 5, 6]

### Exercise 62:
Write a Python program that calculates the average of a list of numbers.

```python
# Exercise 62
```

---

In [27]:

nombres = [10, 20, 30, 40, 50]


somme = 0
for nombre in nombres:
    somme += nombre

moyenne = somme / len(nombres)


print("La moyenne est :", moyenne)

La moyenne est : 30.0

### Exercise 63:
Write a Python function that generates a list of the first `n` Fibonacci numbers.

```python
# Exercise 63
```

---

In [28]:
def fibonacci(n):
    suite = [0, 1]

    while len(suite) < n:
        suivant = suite[-1] + suite[-2]
        suite.append(suivant)

    return suite[:n]
print(fibonacci(5))

[0, 1, 1, 2, 3]

### Exercise 64:
Write a Python program that counts how many times each element appears in the list `["apple", "banana", "apple", "cherry"]`.

```python
# Exercise 64
```

---

In [29]:

fruits = ["apple", "banana", "apple", "cherry"]

compte = {}


for fruit in fruits:
    if fruit in compte:
        compte[fruit] += 1
    else:
        compte[fruit] = 1


print(compte)

{'apple': 2, 'banana': 1, 'cherry': 1}

### Exercise 65:
Write a Python program that removes all occurrences of a specific value from a list.

```python
# Exercise 65
```

---

In [30]:

ma_liste = [1, 2, 3, 2, 4, 2, 5]


valeur_a_enlever = 2


nouvelle_liste = []

for element in ma_liste:
    if element != valeur_a_enlever:
        nouvelle_liste.append(element)


print(nouvelle_liste)

[1, 3, 4, 5]

### Exercise 66:
Write a Python function that takes a list of strings and returns a list of the strings that start with a vowel.

```python
# Exercise 66
```

---

In [32]:
def mots_avec_voyelle(ma_liste):
    voyelles = "aeiouAEIOU"
    resultat = []

    for mot in ma_liste:
        if mot != "" and mot[0] in voyelles:
            resultat.append(mot)

    return resultat

mots = ["apple", "banana", "orange"]
print(mots_avec_voyelle(mots))

['apple', 'orange']

### Exercise 67:
Write a Python program that finds the intersection of two sets `set1` and `set2`.

```python
# Exercise 67
```

---

In [33]:
ensemble1 = {1, 2, 3}
ensemble2 = {2, 3, 4}

intersection = ensemble1 & ensemble2

print("Les éléments communs sont :", intersection)

Les éléments communs sont : {2, 3}

### Exercise 68:
Write a Python function that flattens a nested list.

```python
# Exercise 68
```

---

In [35]:

def flattens(liste):
    resultat = []
    for element in liste:
        if type(element) == list:
            for sous_element in element:
                resultat.append(sous_element)
        else:
            resultat.append(element)
    return resultat


ma_liste = [1, [2, 3], 4]
listes = flattens(ma_liste)
print("Liste flattens :", listes)

Liste flattens : [1, 2, 3, 4]

### Exercise 69:
Write a Python program that checks if all the elements in a list are unique.

```python
# Exercise 69
```

---

In [36]:
ma_liste = [1, 2, 3, 4, 5]
def tous_uniques(liste):
    return len(liste) == len(set(liste))


if tous_uniques(ma_liste):
    print("Tous les éléments sont uniques.")
else:
    print("Il y a des doublons dans la liste.")

Tous les éléments sont uniques.

### Exercise 70:
Use the `reduce()` function from the `functools` module to multiply all elements in a list.

```python
# Exercise 70
```

---

In [37]:
from functools import reduce

nombres = [2, 3, 4, 5]

def multiplier(x, y):
    return x * y

produit = reduce(multiplier, nombres)


print("Produit de tous les éléments  :", produit)

Produit de tous les éléments  : 120

### Exercise 71:
Write a Python function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.

```python
# Exercise 71
```

---

In [38]:
def longueur_des_mots(liste_de_mots):
    dictionnaire = {}
    for mot in liste_de_mots:
        dictionnaire[mot] = len(mot)
    return dictionnaire

mots = ["chat", "éléphant", "soleil"]
resultat = longueur_des_mots(mots)
print(resultat)

{'chat': 4, 'éléphant': 8, 'soleil': 6}

### Exercise 72:
Write a Python program that counts the number of vowels in a string.

```python
# Exercise 72
```

---

In [39]:
def compter_voyelles(texte):
    
    voyelles = "aeiouyAEIOUY"
    compteur = 0

    for caractere in texte:
        if caractere in voyelles:
            compteur += 1

    return compteur


phrase = "Hello prof "
nombre_de_voyelles = compter_voyelles(phrase)
print("Nombre de voyelles :", nombre_de_voyelles)

Nombre de voyelles : 3

### Exercise 73:
Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.

```python
# Exercise 73
```

---

In [40]:
def factorielle(n):
    resultat = 1
    for i in range(1, n + 1):
        resultat *= i
    return resultat


liste_de_tuples = []

for nombre in range(1, 6):
    f = factorielle(nombre)
    liste_de_tuples.append((nombre, f))


print("Liste des factorielles :", liste_de_tuples)

Liste des factorielles : [(1, 1), (2, 2), (3, 6), (4, 24), (5, 120)]

### Exercise 74:
Write a Python program that converts a list of dictionaries into a single dictionary by merging them.

```python
# Exercise 74
```

---

In [41]:

liste_de_dicts = [
    {"a": 1},
    {"b": 2},
    {"c": 3}
]

dictionnaire_fusionne = {}

for d in liste_de_dicts:
    dictionnaire_fusionne.update(d)  


print("Dictionnaire fusionné :", dictionnaire_fusionne)

Dictionnaire fusionné : {'a': 1, 'b': 2, 'c': 3}

### Exercise 75:
Write a Python function that checks if a set is a subset of another set.

```python
# Exercise 75
```

---

In [43]:
def est_sous_ensemble(petit_ensemble, grand_ensemble):

    return petit_ensemble.issubset(grand_ensemble)


ensemble_A = {1, 2}
ensemble_B = {1, 2, 3, 4}

resultat = est_sous_ensemble(ensemble_A, ensemble_B)
print("sous ensemble: ", resultat)

sous ensemble:  True

### Exercise 76:
Write a Python program that sorts a list of tuples based on the second element in each tuple.

```python
# Exercise 76
```

---

In [45]:
ma_liste = [(1, 3), (2, 1), (4, 2), (3, 5)]

def prendre_deuxieme_element(mon_tuple):
    return mon_tuple[1]

liste_triee = sorted(ma_liste, key=prendre_deuxieme_element)


print(" nouvelle Liste :", liste_triee)

 nouvelle Liste : [(2, 1), (4, 2), (1, 3), (3, 5)]

### Exercise 77:
Write a Python function that takes a list of integers and returns a new list with only the positive integers.

```python
# Exercise 77
```

---

In [46]:
def garder_positifs(liste):

    nouvelle_liste = []

    for nombre in liste:
        if nombre > 0:
            nouvelle_liste.append(nombre)


    return nouvelle_liste

ma_liste = [-5, 0, 3, -2, 7, 1]
resultat = garder_positifs(ma_liste)
print("Nombres positifs :", resultat)

Nombres positifs : [3, 7, 1]

### Exercise 78:
Write a Python function that takes two sets and returns their union.

```python
# Exercise 78
```

---

In [47]:
def union_ensembles(ensemble1, ensemble2):
   
    resultat = ensemble1 | ensemble2
    return resultat


A = {1, 2, 3}
B = {3, 4, 5}

union = union_ensembles(A, B)
print("Union des ensembles :", union)

Union des ensembles : {1, 2, 3, 4, 5}

### Exercise 79:
Write a Python function that takes a list of numbers and returns the product of all the numbers.

```python
# Exercise 79
```

---

In [51]:
def produit_des_nombres(liste):

    resultat = 1

    for nombre in liste:
        resultat = resultat * nombre 
    return resultat

ma_liste = [2, 3, 4]
produit = produit_des_nombres(ma_liste)
print("Produit des nombres :", produit)

Produit des nombres : 24

### Exercise 80:
Write a Python program that converts a list of characters into a string.

```python
# Exercise 80
```

---

In [52]:
liste_de_caracteres = ['H', 'e', 'l', 'l', 'o']

chaine = ''.join(liste_de_caracteres)

print("ChaIne :", chaine)

ChaIne : Hello

### Exercise 81:
Write a Python program that finds the second largest number in a list of integers.

```python
# Exercise 81
```

---

In [53]:
def deuxieme_plus_grand(liste):

    liste_sans_doublons = [x for i, x in enumerate(liste) if x not in liste[:i]]

    if len(liste_sans_doublons) < 2:
        return None 

    liste_triee = sorted(liste_sans_doublons, reverse=True)

    return liste_triee[1]

ma_liste = [4, 1, 7, 3, 7, 2]
resultat = deuxieme_plus_grand(ma_liste)
print("Deuxième plus grand nombre :", resultat)

Deuxième plus grand nombre : 4

### Exercise 82:
Write a Python function that takes a dictionary and returns a list of its keys in sorted order.

```python
# Exercise 82
```

---

In [55]:
def get_sorted_keys(input_dict):

    return sorted(input_dict.keys())

sample_dict = {'banana': 3, 'apple': 5, 'orange': 2}
sorted_keys = get_sorted_keys(sample_dict)
print(sorted_keys)

['apple', 'banana', 'orange']

### Exercise 83:
Write a Python program that finds the most common element in a list.

```python
# Exercise 83
```

---

In [56]:
def element_le_plus_frequent(liste):
    max_compte = 0
    element_frequent = None

    for element in liste:
        compte = liste.count(element)
        if compte > max_compte:
            max_compte = compte
            element_frequent = element

    return element_frequent

ma_liste = [3, 1, 2, 3, 4, 3, 2]
print(element_le_plus_frequent(ma_liste))

3

### Exercise 84:
Write a Python function that takes a list of tuples and returns a list of the tuples sorted by the first element.

```python
# Exercise 84
```

---

In [58]:
def trier_par_premier_element(liste_de_tuples):

    return sorted(liste_de_tuples, key=lambda x: x[0])


ma_liste = [(3, 'a'), (1, 'b'), (2, 'c')]
print(trier_par_premier_element(ma_liste))

[(1, 'b'), (2, 'c'), (3, 'a')]

### Exercise 85:
Write a Python program that removes duplicates from a list of dictionaries.

```python
# Exercise 85
```

---

In [ ]:
def supprimer_doublons(liste_de_dicts):

    liste_sans_doublons = []
    vus = []

    for d in liste_de_dicts:
        if d not in vus:
            vus.append(d)
            liste_sans_doublons.append(d)

    return liste_sans_doublons

### Exercise 86:
Write a Python function that takes a list of numbers and returns the minimum and maximum numbers in the list.

```python
# Exercise 86
```

---

In [60]:
def supprimer_doublons(liste_de_dicts):
    
    liste_sans_doublons = []
    vus = []

    for d in liste_de_dicts:
        if d not in vus:
            vus.append(d)
            liste_sans_doublons.append(d)

    return liste_sans_doublons


liste = [
    {'nom': 'danielle', 'age': 25},
    {'nom': 'Boby', 'age': 30},
    {'nom': 'danielle', 'age':25},
    {'nom': 'Charlie', 'age': 35}
]

resultat = supprimer_doublons(liste)
print(resultat)

[{'nom': 'danielle', 'age': 25}, {'nom': 'Boby', 'age': 30}, {'nom': 'Charlie', 'age': 35}]

### Exercise 87:
Write a Python program that creates a list of tuples from two lists.

```python
# Exercise 87
```

---

### Exercise 88:
Write a Python function that takes a list of strings and returns a list of the strings in reverse order.

```python
# Exercise 88
```

---

In [74]:
listes_strings = ["patate","manioc"," prunes","plantain"]
for strings in listes_strings:
    listes_string = listes_strings[::-1]
print(listes_string)

['plantain', ' prunes', 'manioc', 'patate']

### Exercise 89:
Write a Python function that takes a list of integers and returns the sum of all odd numbers.

```python
# Exercise 89
```

---

In [124]:
liste_integer = [1, 2, 3, 4, 5]
for i in liste_integer:
    if i%2 != 0:
        return sum(i)

SyntaxError: 'return' outside function (2218697716.py, line 4)

In [107]:
listes = [1, 2, 3, 4, 5]
def somme_odd_number(listes):
    return sum(x for x in listes if x%2 !=0)
print(somme_odd_number(listes))

9

### Exercise 90:
Write a Python program that checks if a string is a palindrome.

```python
# Exercise 90
```

---

In [111]:
def is_palindrome(texte):
    return texte == texte[::-1]

texte = "radar"
print(is_palindrome(texte))

True

### Exercise 91:
Write a Python program that finds the median of a list of numbers.

```python
# Exercise 91
```

---

In [113]:
def mediane(listes):
    liste = sorted(listes)
    n= len(listes)
    milieu = n//2
    if n%2 ==0:
        return (liste[milieu -1]+ listes[milieu]/2)
    else:
        return listes [milieu]
    
    
    
print(mediane([1,3,5,7,9]))

5

### Exercise 92:
Write a Python function that takes a list of dictionaries and returns a dictionary with the total value for each key.

```python
# Exercise 92
```

---

### Exercise 93:
Write a Python program that calculates the mode of a list of numbers.

```python
# Exercise 93
```

---

### Exercise 94:
Write a Python function that takes a list of numbers and returns the sum of the squares of all the numbers.

```python
# Exercise 94
```

---

In [114]:
def somme_carres(liste):
    return sum(x**2 for x in liste)
print(somme_carres([1,2,3]))

14

### Exercise 95:
Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.

```python
# Exercise 95
```

---

In [115]:
resultat = [(i, i**3)for i in range(1,6)]
print(resultat)

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]

### Exercise 96:
Write a Python function that returns a list of all prime numbers up to `n`.

```python
# Exercise 96
```

---

In [123]:
def nombre_preremiers(n):
    premiers = []
    for i in range (2, n+1):
        if all(i%j !=0 for j in range(2,int(i**0.5)+1)):
            premiers.append(i)
            return premiers
        
print (nombre_preremiers(20))

[2]

### Exercise 97:
Write a Python program that finds the common keys between two dictionaries.

```python
# Exercise 97
```

---

### Exercise 98:
Write a Python function that takes a list of strings and returns a list of the strings that contain more than 5 characters.

```python
# Exercise 98
```

---

### Exercise 99:
Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.

```python
# Exercise 99
```

---

### Exercise 100:
Write a Python function that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.

```python
# Exercise 100
```

---